body {
  font-family: Calibri; 
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px black;
  background-image: url(detective-pikachu-ryme-city-pelicula-poster-1544807471.jpg);
  background-position: center center;
  background background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

 h1 {
 	font-size:56px;
 	text-shadow:3px 3px blue;
 	color:gold;
 	font-style:italic; 
 	}

.final {
	color: gold;
	text-shadow: 1px 1px blue;
	font-style: italic;

