@import url('https://fonts.googleapis.com/css?family=Lato:,400,700,700i|Montserrat:500,700&display=swap');

body {
    font-size: 18px;
}
h1,h2,h3 {
    font-family: "Montserrat","sans-serif"; 
}
p {
    font-family: "Lato","sans-serif";
}
.navscroll {
    background-color:transparent;
    transition:background-color 250ms;
}
.navscroll.blanco {
    background-color:white;
}
#navmenu {
    right: 0;
    top: 0;
}
#navmenu2 {
    position: absolute;
    z-index: 100;
}
.elementos {
    line-height: 4em;
    color: white;
    transition: .30s;
    border-bottom: 3px solid transparent;
}
.seleccionadoA {
    color: black;
    border-bottom: 3px solid #481AE7;
    cursor: pointer;
}
.seleccionadoB {
    border-bottom: 3px solid rgb(68, 222, 236);
    cursor: pointer;
}
.elementos.negro {
    color: black;
}
.elementos:hover {
    border-bottom-width: 3px;
    border-bottom-color: rgb(154, 222, 228);
}
#elementos {
    color: gray;
}
#elementos:hover {
    color: black;
}
#anvorguesa {
    cursor: pointer;
}
#equis {
    cursor: pointer;
}
.main-menu {
    transition: .25s all;
    height: 82px;
}
.course-menu {
    transform: translateY(-100%);
}
@media screen and (max-width: 1280px){
.course-menu {
    display: none;
}
}
.show-in {
    transform: translateY(0) !important; 
}
.select {
    transition: .30s;
    line-height: 4em;
    border-bottom: 3px solid transparent;
}
.select:hover {
    border-bottom-width: 3px;
    border-bottom-color: rgb(154, 222, 228);
}
#btn {
    background-color: transparent;
    color: #481AE7;
    border-width: 2px;
    border-color: #481AE7;
    border-radius: 4px;
    transition: .12s;
}
#btn:hover {
    background-color: #481AE7;
    color: white;
}
#entrada {
    background-color: #271777;
}
#aprende {
    font-weight: 700;
    line-height: 40px;
}
li {
    border-left: 1px solid #E2E2E2;
}
.semanasA::before {
    background-color: #481AE7;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    position: relative;
    left: -1.1em;
    top: 0.8em;
    z-index: -1;
}
.semanasA {
    cursor: pointer;
}
.activa {
    color: #481AE7;
}
.semanasB {
    transition: .50s;
    color: #481AE7;
    font-weight: 600;
}
#entrenador {
    background-color: #4D05B0;
}

@import "slckcrr";

@media only screen and (max-width: 1023px) {
#map {width: 500px; height: 400px;}
}
@media only screen and (max-width: 639px) {
#map {width: 350px; height: 400px;}
}
#foot {
    background-color: #070512;
}